@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,400italic);

header{
  width: 100%;
  height: 85px;
  background-color: rgba(44, 55, 55, 1);
  position: fixed;
  top: 0;
  z-index: 2;
}

p,a{
  margin: 0;
  padding: 0;
}
a,a:hover,a:active{
  text-decoration: none;
  color: inherit;
}
.bg-color01{
  background-color: rgb(106, 207, 114);
}

section#intro-banner{
  color: white;
  padding-top: 110px;
}
section#intro-banner .container{
  padding: 10px;
}
section#intro-banner h1{
  font-size: 50px;
  /*margin-top: 40px;*/
  font-family: 'proxima-nova';
  font-weight: 600;
}
ul{
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.banner-ul{
  margin-top: 50px;
  margin-bottom: 25px;
}
.trial-rates .rate .amt{
  font-size: 72px;
  line-height: 65px;
}
.trial-rates .rate .dollar{
  font-size: 30px;
  position: relative;
  bottom: 30px;
}
.trial-rates .rate {
  border-right: 4px solid white;
  width: 124px;
  float: left;
  height: 65px;
  -webkit-transition: border 0.4s ease-in-out 0,color 0.1s ease-in-out 0;
  -moz-transition: border 0.1s ease-in-out 0,color 0.1s ease-in-out 0;
  -o-transition: border 0.1s ease-in-out 0,color 0.1s ease-in-out 0;
  transition: border 0.4s ease-in-out 0,color 0.1s ease-in-out 0;
}
.trial-rates{
  overflow: hidden;
  border-radius: 10px;
  border: 3px solid white;
  /* width: 405px; */
  float: left;
  padding: 10px;
  cursor: pointer;
  -webkit-transition: border 0.4s ease-in-out 0,color 0.1s ease-in-out 0;
  -moz-transition: border 0.1s ease-in-out 0,color 0.1s ease-in-out 0;
  -o-transition: border 0.1s ease-in-out 0,color 0.1s ease-in-out 0;
  transition: border 0.4s ease-in-out 0,color 0.1s ease-in-out 0;
}
.trial-rates:hover{
  border-color: black;
  color: black;
}
.trial-rates:hover .rate {
  border-right: 4px solid black;
}
.trial-rates .currency{
  float: right;
  height: 65px;
}
.trial-rates .currency h3{
  margin: 7px 10px;
}
/*.center-tringle:after{
  display: block;
  content: "";
  position: absolute;
  width: 78px;
  height: 26px;
  left: 50%;
  margin-left: -38px;
  border-top: 26px solid #fbcf61;
  border-left: 38px solid transparent;
  border-right: 38px solid transparent;
  border-bottom: none;
}*/
.center-tringle{
  position: relative;
}
.center-triangle-div{
  width: 0;
  height: 0;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-top: 30px solid #000;
  position: absolute;
  top: 100%;
  z-index: 1;
  left: 0;
  right: 0;
  margin: auto;
}
.bg-color01-border{
  border-top-color: #ff4c3e;
}
#intro-banner img{
  float: right;
  margin-right: 100px;
}

.bg-color02{
  background-color: #e7efd8;
}
.bg-color02-border{
  border-top-color: #e7efd8;
}
section#services{
  padding: 20px 0;
}
#services .service-block .service-icon{
  width: 80px;
  height: 80px;
  margin: auto;
  background-image: url(../img/icons.png);
  background-repeat: no-repeat;
  /*background-color: red;*/
}
.service-block {
  padding: 0 50px;
  margin-bottom: 20px;
}
.service-1{
  background-position: -2px -6px;
}
.service-2{
  background-position: -109px -6px;
}
.service-3{
  background-position: -216px -6px;
}
.service-4{
  background-position: -2px -106px;
}
.service-5{
  background-position: -108px -106px;
}
.service-6{
  background-position: -217px -106px;
}
.service-7{
  background-position: -2px -6px;
}
.service-8{
  background-position: -2px -6px;
}
.service-9{
  background-position: -2px -6px;
}

.bg-color03{
  background-color: #1abc9c;
}
.bg-color03-border:after{
  border-top-color: #1abc9c;
}
section#contact{
  padding: 20px 0;
}
section#contact .container{
  /*width: 1072px;*/
}
select.custom-select option{
  background-color: #fff;
  color: #1abc9c;
}
div.text-box{
  position: relative;
}
div.text-box label{
  position: absolute;
  top: 0;
  left: 0;
  padding: 12px 17px;
  color: white;
  font-weight: normal;
  width: 100%;
  text-align: left;
  font-size: 17px;
  /*cursor: pointer;*/
}

#contact-form .form-control,#contact-form select.custom-select{
  margin-bottom: 20px;
  box-shadow: none!important;
  border-radius: 0;
  /* border-width: 2px; */
  color: #ccadb6;
  font-family: 'Open Sans Condensed' !important,'open sans',arial;
  font-size: 18px;
  padding: 3px 12px;
  height: 40px;
  border-radius: 5px;
  /* border-radius: 5px; */
  background-color: transparent!important;
  border: 2px solid white;
  border: 2px solid white!important;
  color: white;

}
/*input::-webkit-input-placeholder {
   color: #ccadb6;
}*/
input::-webkit-input-placeholder {  
  color: green;  
}  
input:-moz-placeholder { /* Firefox 18- */
   color: #ccadb6;
}

input::-moz-placeholder {  /* Firefox 19+ */
   color: #ccadb6;
}

input:-ms-input-placeholder {  
   color: #ccadb6;
}
input::-webkit-input-placeholder{
    color:red;
}
input:-moz-placeholder {
    color:red;
}

#contact-form .custom-select {
  background-color: transparent;
  color: #000;
  border: none !important;
  width: 100%;
  padding: 10px 0 5px 10px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  visibility: visible !important;
  margin-left: 0 !important;
  position: static !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  -moz-appearance: window;
  -ms-appearance: none;
  -o-appearance: none;
  display: inline-block;
  background: transparent url(../img/arrow-down.png) 95% center no-repeat!important;
  height: 50px;
  margin-bottom: 20px;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  color: #9C9C9C;
  color: white;
  cursor: pointer;
/*        transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;*/
}
#contact-form .custom-select:focus{
  background: transparent url(../img/arrow-up.png) 95% center no-repeat!important;
  outline: 0;
}
#contact-form .custome-textarea{
  /*width: 100%;*/
  resize: vertical;
  height: 150px;
}
#contact-form .contact-submit{
  background-color: transparent;
  border: 4px solid #fff;
  color: white;
  padding: 8px 22px;
  font-size: 30px;
}

.service-1 + h3{
  color: #3faa96;
}
.service-2 + h3{
  color: #f39943;
}
.service-3 + h3{
  color: #dd574b;
}
.service-4 + h3{
  color: #cb5a7c;
}
.service-5 + h3{
  color: #dd574b;
}
.service-6 + h3{
  color: #f39943;
}
section h2{
  margin-top: 50px;
  margin-bottom: 19px;
  font-size: 40px;
  font-family: 'proxima-nova'!important;
  font-weight: 800!important;
}
section#intro-banner h2{
  font-size: 30px;
  margin: 20px 0 10px 0;
}
.service-icon + h3{
  font-size: 27px;
}
.service-icon + h3 + p {
color: #9C9C9C;
font-family: 'lato',sans-serif;
font-weight: bold;
font-size: 15px;
}

.logo{
  float: left;
  overflow: hidden;
  /*margin-top: 20px;*/
}
.logo img{
  vertical-align: baseline;
  width: 190px;
}
.logo-icon{
  background: url(../img/logo-icon.svg) center center no-repeat;
  width: 65px;
  height: 65px;
  position: relative;
  display: inline-block;
  top: 8px;
  background-size: 123px;
}
.logo-name{
  font-family: 'GothamNarrow-Black';
  color: white;
  font-size: 50px;
  letter-spacing: -3px;
}
.fabrik{
  font-family: 'GothamNarrow-Book';
  font-size: 50px;
  margin-left: 2px;
}
.nav ul{
  margin: 30px 0;
  padding: 0;
  list-style-type: none;
  float: right;
}
.nav ul li{
  float: left;
}
.nav ul li img{
  vertical-align: middle;
  height: 65px;
  margin: 10px;
}
.nav ul li{
  border-right: 1px solid #d4d4d4;
}
.nav ul li a h3{
  color: white;
  margin: 0;
  padding: 0 25px;
  font-weight: lighter;
  font-family: lato;
  transition: color 0.3s ease-in-out;
  -webkit-transition: color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out;
  -ms-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
}
.nav ul li:last-child{
  border-right: none;
}
nav.nav ul li a h3:hover{
  color: #93F6FF;
}
/*nav.nav ul li a h3:hover{
  color: #93F6FF;
}*/
/*********************************************************** final *********************************************************/

footer{
  background-color: #1d3d65;
  width: 100%;
  font-family: 'lato',sans-serif;
}
footer .stage-1{
  /*background-color: white;*/
  color: white;
  width: 100%;
  margin: 0;
  margin-bottom: 10px;
  /*height: 80px;*/
}
footer .stage-2{
  /*background-color: white;*/
  color: white;
  width: 100%;
  margin: 0;
  /*height: 80px;*/
}

.stage-1 h2{
  font-family: 'GothamNarrow-Book';
  font-weight: bold;
}
.stage-1 h5 a{
  /*color: white;*/
  /*font-family: 'lato';*/
  font-size: 16px;
}
.stage-1 h5 a:hover{
  color: rgb(238, 107, 73);
}
.pull-right p{
  text-align: right;
  float: right;
  font-size: 15px;
  font-family: 'lato',sans-serif;
}
.icon-facebook,.icon-twitter{
  font-size: 26px;
  margin: 25px 10px;
  margin-left: 0;
  margin-right: 16px;
  width: 24px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  position: relative;
  bottom: 0;
  cursor: pointer;
}
footer .icon-twitter:hover{
  color: #4099FF;
  bottom: 4px;
}

footer .icon-facebook:hover{
  color: #3b5998;
  bottom: 4px;
}
.footer-container + .footer-container{  
  background-color: #333333;
  padding-top: 20px;
}

.prox {
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
  font-weight: 700 !important;
  font-size: 18px;
}
.txtorange {
  color: rgb(238, 107, 73);
}
.txtgreen{
  color: rgb(26, 188, 156);
}
.txtwhite{
  color: #fff;
}
.proxlight {
  font-family: 'proxima_novalight',sans-serif;
  font-style: normal;
  font-weight: 100;
}
.stage-2 p{
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
  line-height: 75.19999694824219px;
  font-family: 'proxima_novalight',sans-serif;
  /*font-family: 'ProximaNova-Light'*/
  color: rgba(255, 255, 255, 0.6);
}
.stage-2 p a{
  color: #1abc9c;
  margin-left: 3px;
}
.text-right{
  text-align: right;
}
.stage-2 p a.helixtech{
  margin-left: 3px;
  color: rgba(255, 255, 255, 0.6);
  -moz-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
  font-family: 'lato',sans-serif;
  line-height: 71px;
  font-weight: 300;
  font-weight: bold;
  font-size: 20px;
}
.stage-2 p a.helixtech:hover{
  opacity: 1;
  color: white;
}
.footer-container{
  background-color: #404040;
}
.social-div{
  overflow: hidden;
}
.stage-2 h5 a{
  
}

/*********************************************************** Spinner code *********************************************************/
.after-submit{
  margin: 130px 0px;
}
.after-submit h3{
  font-family: 'proxima-nova';
  font-size: 35px;
  color: white;
  transition : all 0.3s ease-in-out;
  -webkit-transition : all 0.3s ease-in-out;
  -moz-transition : all 0.3s ease-in-out;
  -ms-transition : all 0.3s ease-in-out;
  -o-transition : all 0.3s ease-in-out;
}
.after-submit p{
  font-family: 'lato',sans-serif;
  font-size: 20px;
  color: white;
  transition : all 0.3s ease-in-out 1s;
  -webkit-transition : all 0.3s ease-in-out 1s;
  -moz-transition : all 0.3s ease-in-out 1s;
  -ms-transition : all 0.3s ease-in-out 1s;
  -o-transition : all 0.3s ease-in-out 1s;
}

@-webkit-keyframes arrowBounce {
  /* line 169, ../../app/styles/main.scss */
  from {
    top: 0;
  }

  /* line 172, ../../app/styles/main.scss */
  to {
    top: -10px;
  }
}

@-moz-keyframes arrowBounce {
  /* line 178, ../../app/styles/main.scss */
  from {
    top: 0;
  }

  /* line 181, ../../app/styles/main.scss */
  to {
    top: -10px;
  }
}
@keyframes arrowBounce {
  /* line 169, ../../app/styles/main.scss */
  from {
    top: 0;
  }

  /* line 172, ../../app/styles/main.scss */
  to {
    top: -10px;
  }
}
.down-arrow{
  width: 60px;
  height: 60px;
  display: block;
  overflow: hidden;
  background-color: #CCCCCC;
  /*border-radius: 100%;*/
  color: gray;
  position: relative;
  margin: auto;
  cursor: pointer;
  /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  background: url(../img/big-down-arrow.png) center no-repeat;
  background-size: contain;
}
.down-arrow .glyphicon-chevron-down{
  font-size: 20px;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  height: 20px;
  width: 22px;
  margin: auto;
  left: 0;
  right: 0;
  color: gray;
}


.bouncy-caret{
  -webkit-animation: arrowBounce .5s infinite alternate;
  -moz-animation: arrowBounce .5s infinite alternate;
  -ms-animation: arrowBounce .5s infinite alternate;
  -o-animation: arrowBounce .5s infinite alternate;
  animation: arrowBounce .5s infinite alternate;
}
/*footer*/
.tw-tweet,.tw-follow{
  display: inline-block;
}
.tw-tweet{
  width: 70px;
  margin-left: -10px;
}
.fb-like-share{
  display: inline-block;
  position: relative;
  bottom: 5px;
  right: 9px;
}
.twitter{
  display: inline-block;
  margin-left: 10px;
}

#contact-form input[type="submit"]{
  display: inline-block;
  border: 2px solid #fff;
  color: #fff;
  padding: 10px 70px;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 0.75rem;
  float: right;
  font-family: 'open sans',arial;
  background-color: transparent;
  -webkit-transition: border 0.4s ease-in-out 0,color 0.1s ease-in-out 0;
  -moz-transition: border 0.1s ease-in-out 0,color 0.1s ease-in-out 0;
  -o-transition: border 0.1s ease-in-out 0,color 0.1s ease-in-out 0;
  transition: border 0.4s ease-in-out 0,color 0.1s ease-in-out 0;
}
#contact-form input[type="submit"]:hover{
  color: black;
  border-color: black;
}

/*error css classes*/
div.text-box label.required-field{
  width: auto;
  right: 0;
  left: auto;
  padding: 8px 17px;
  color: black;
  pointer-events: none;
}

div.text-box label.required-field.to-select-box{ 
  padding-right: 50px!important;
}

div.text-box label.required-field.to-captcha{
  padding: 17px 17px;
}

/***********************Terms of service***********************/
section#content{
  padding-top: 110px;
  margin-bottom: 30px;
}
section#content h1{
  font-size: 70px;
  text-align: center;
  font-family: "proxima-nova",sans-serif;
  font-weight: 600;
}
section#content h2{
  font-size: 30px;
  font-family: 'proxima-nova',sans-serif,arial;
}
section#content p, section#content ol,section#content ul{
  font-size: 19px;
  font-family: 'lato',sans-serif,arial;
  /*font-weight: 300;*/
  margin-top: 5px;
}
section#content ul{
  list-style-type: disc;
  padding-left: 20px;
}
section#content ol li,section#content ul li{
  margin-bottom: 10px;
}
section#content a.link:hover{
  transition:color 0.3s ease-in-out;
  -webkit-transition:color 0.3s ease-in-out;
  -moz-transition:color 0.3s ease-in-out;
  color:orange;
}

div.text-box label.error_label{
  /*color: red;*/
}
#contact-form .form-control.error_label{
  border-color: #843534!important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483!important;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483!important;
}
#contact-form select.custom-select.error_label{
  border-color: #843534!important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483!important;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483!important;
}