@media only screen and (max-width:	1199px){
	.service-icon + h3 + p br{
	  display: none;
	}
	.service-block {
		padding: 0 15px;
		margin-bottom: 20px;
	}
}
@media only screen and (max-width: 992px){
	.iphone{
		display: none;
	}
}

@media only screen and (max-width: 992px ) and (min-width: 768px){
	.service-block{
		padding: 0 15px;
	}
}	
@media only screen and (max-width: 767px){
	#contact-form .pull-right{
		float: none!important;
	}
}