@media only screen and (min-width: 2121px) and (max-width: 2800px){
	header{
		zoom:2;
	}
	section#intro-banner div.container{
		zoom:2;
		margin-top: 72px;
	}
	section#services div.container{
		zoom:2;
		margin-top: 30px;
	}
	section#contact .container {
		zoom: 2;
		margin-top: 30px;
	}
	.footer-container{
		zoom:2;
	}
	.fb-like-share,.tw-tweet,.tw-follow
	{
		transform: scale(1.8);
		-ms-transform: scale(1.8); 
		-webkit-transform: scale(1.8); 
		-o-transform: scale(1.8); 
		-moz-transform: scale(1.8); 
		transform-origin: bottom left;
		-ms-transform-origin: bottom left;
		-webkit-transform-origin: bottom left;
		-moz-transform-origin: bottom left;
		-webkit-transform-origin: bottom left;
		height: 12px;
		overflow: hidden;
	}
}
@media only screen and (min-width: 1700px) and (max-width: 2120px){
	.container{
		/*zoom : 1.6;*/
	}

	.container{
		max-width: 1550px;
	}
	.logo img {
		width: 255px;
	}
	.logo-icon {
		width: 103px;
		height: 82px;
		background-size: 160px;
	}
	.nav ul li a h3 {
		font-size: 35px;
	}
	.nav ul {
		margin: 37px 0;
	}
	header {
		height: 110px;
	}
	#intro-banner img {
		width: 370px;
		padding-top: 20px;
	}
	section#intro-banner h1 {
		font-size: 70px;
		margin-top: 80px;
	}
	section#intro-banner h2 {
		font-size: 40px;
	}
	h4, .h4 {
		font-size: 24px;
	}
	.trial-rates .rate {
		width: 174px;
		height: 96px;
	}
	.trial-rates .rate .dollar {
		font-size: 50px;
		bottom: 43px;
	}
	.trial-rates .rate .amt {
		font-size: 102px;
		line-height: 102px;
	}
	h3, .h3 {
		font-size: 34px;
	}
	.trial-rates{
		margin-top: 20px;
		border-radius: 20px;
		border-width: 5px;
	}
	section h2{
		margin-top: 55px;
		font-size: 55px;
	}
	#services .service-block .service-icon {
		width: 100px;
		height: 100px;
		background-size: 360px;
	}
	.service-2 {
		background-position: -130px -6px;
	}
	.service-3 {
		background-position: -257px -6px;
	}
	.service-4 {
		background-position: 0px -126px;
	}
	.service-5 {
		background-position: -127px -126px;
	}
	.service-6 {
		background-position: -259px -126px;
	}
	.service-icon + h3 {
		font-size: 37px;
	}
	.service-icon + h3 + p {
		font-size: 20px;
	}
	.service-block {	
		margin-top: 20px;
		margin-bottom: 40px;
	}
	#contact-form .form-control, #contact-form select.custom-select {
		margin-bottom: 20px;
		font-size: 25px;
		height: 55px;
		border-radius: 10px;
		border: 3px solid white!important;
	}
	#contact-form  div.text-box label {
		font-size: 25px;
	}
	#contact-form .custome-textarea {
		height: 250px;
	}
	#contact-form input[type="submit"] {
		border-radius: 10px;
		border-width: 3px;
		height: 80px;
		font-size: 40px;
	}
	#contact-form input#captcha{
		height: 80px;
	}
	.stage-2 h5 a {
		font-size: 18px;
	}
	.prox {
		font-size: 25px;
	}
	div.row.stage-2 .social-div h5{
		margin: 20px 0;
	}
	.fb-like-share,.tw-tweet,.tw-follow
	{
		transform: scale(1.5);
		-ms-transform: scale(1.5); 
		-webkit-transform: scale(1.5); 
		-o-transform: scale(1.5); 
		-moz-transform: scale(1.5); 
		transform-origin: bottom left;
		-ms-transform-origin: bottom left;
		-webkit-transform-origin: bottom left;
		-moz-transform-origin: bottom left;
		-webkit-transform-origin: bottom left;
		width: 125px;
	}
	span.icon-facebook,span.icon-twitter{
		font-size: 41px;
	}
	div.tw-follow{
		position: relative;
		right: 33px;
	}
	.stage-2 p{
		font-size: 21px;
	}
	.stage-2 p a.helixtech {
		line-height: 75px;
		font-size: 30px;
	}
}
@media only screen and (min-width:	1199px){
	.tablet-show{
		display: none;
	}
}
@media only screen and (max-width:	1199px){
	.service-icon + h3 + p br{
	  display: none;
	}
	.service-block {
		padding: 0 15px;
		margin-bottom: 20px;
	}
	.stage-2 p a.helixtech{
		line-height: 22px;
	}
	.stage-2 p{
		line-height: 25px;
		margin: 5px 0;
	}
	.tablet-show{
		display: block;
	}
	.social-div .reserved-text{
	  margin-top: 20px;
	  overflow: hidden;
	  clear: both;
	}
}
@media only screen and (max-width: 992px){
	.iphone{
		display: none;
	}
	.stage-2 p{
		text-align: left;
		float: none!important;
	}
	.stage-2 p a.helixtech{
		float: none!important;
		line-height: 20px;
	}
	.logo-icon{
		width: 58px;
		height: 53px;
		top: 8px;
		background-size: 104px;
	}

	.logo img {
		width: 105px;
	}

}

@media only screen and (max-width: 992px ) and (min-width: 768px){
	.service-block{
		padding: 0 15px;
	}
	.nav ul li a h3{
		font-size: 20px;
	}
	.stage-2 p{

	}
	.tablet-show{
		display: none;
	}
}	

@media only screen and (min-width: 767px){
	.menu{
		display: none;
	}
	a[href='#menu']{
		display: none;
	}

}
@media only screen and (max-width: 767px){
	.tablet-show{
		display: none;
	}
	#contact-form .pull-right{
		float: none!important;
		clear: both;
	}
	.nav{
		display: none;
	}
	.menu{
		display: block;
	}
	a[href='#menu']{
		display: block;
	}
	.logo{
		float: right;
	}
	header{
		height: 54px;
	}
	section#intro-banner {
		padding-top: 54px;
	}
	.logo-icon {
		width: 48px;
		height: 40px;
		top: 4px;
		background-size: 83px;
	}
	.stage-2 p a.helixtech{
		color: white;
	}
	header{
		/*position: static;*/
		/*top: inherit;*/
		/*z-index: inherit;*/
	}
}

@media only screen and (max-width: 485px){
	.social-div .reserved-text{
	  margin-top: 0px;
	  overflow: hidden;
	  clear: both;
	}

	section#intro-banner h1 {
	font-size: 45px;
	}
	section#intro-banner h2{
		font-size: 26px;
	}
	h4{
		font-size: 16px;
	}
	.trial-rates {
		margin: 5px;
		width: 100%;
		padding: 10px;
		max-width: 265px;
		min-width: 255px;
	}
	.trial-rates .rate {
		width: 100%;
		max-width: 80px;
	}
	.trial-rates .rate .dollar {
		font-size: 23px;
	}
	.trial-rates .rate .amt {
		font-size: 45px;
	}
	.trial-rates .currency {
		float: right;
		height: 65px;
	}
	.trial-rates .currency h3 {
		font-size: 15px;
	}
	.tablet-show{
		display: block;
	}
	footer span.icon-twitter{
		left: -10px;
		margin-right: 0;
	}
	.stage-2 p {
		line-height: 25px;
		font-size: 15px;
	}
	.fb-like-share {
		right: 0px;
	}

	.social-div h5{
		margin: 15px 0;
		margin-top: -5px;
	}
	.icon-facebook{
		left: 6px;
	}
	.stage-2 .col-md-6{
		margin-top: 15px;
	}
}